@font-face {
  font-family: "Antwerpen";
  src: url("../fonts/antwerpen/Antwerpen-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/antwerpen/Antwerpen-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/antwerpen/Antwerpen-Regular.woff") format("woff"), url("../fonts/antwerpen/Antwerpen-Regular.ttf") format("truetype"), url("../fonts/antwerpen/Antwerpen-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Sun_antwerpen";
  src: url("../fonts/sun_antwerpen/500/SunAntwerpen_500.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/sun_antwerpen/500/SunAntwerpen_500.eot?#iefix") format("embedded-opentype"), url("../fonts/sun_antwerpen/500/SunAntwerpen_500.woff") format("woff"), url("../fonts/sun_antwerpen/500/SunAntwerpen_500.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 35, ../../resources/assets/sass/app.scss */
* {
  padding: 0;
  margin: 0;
  border-radius: 0 !important;
}

/* line 41, ../../resources/assets/sass/app.scss */
body,
html {
  height: 100%;
  width: 100%;
}

/* line 48, ../../resources/assets/sass/app.scss */
body {
  display: block;
}

/* line 52, ../../resources/assets/sass/app.scss */
h1,
h2 {
  color: white;
  font-family: "Antwerpen";
  margin: 0;
}

/* line 59, ../../resources/assets/sass/app.scss */
h2 {
  font-size: 28px;
}

/* line 63, ../../resources/assets/sass/app.scss */
p {
  font-family: "Sun_antwerpen";
  font-size: 18px;
  line-height: 25.2px;
  color: white;
}

@media screen and (min-width: 1200px) {
  /* line 69, ../../resources/assets/sass/app.scss */
  .container {
    width: 1000px;
  }
}

/* line 75, ../../resources/assets/sass/app.scss */
.col-xs-12 {
  padding: 0 50px;
}

/* line 79, ../../resources/assets/sass/app.scss */
.dummy {
  display: block;
  content: "";
  clear: both;
}

/* line 85, ../../resources/assets/sass/app.scss */
.activeEvent, .activeTestimonial {
  background-color: #007fa3;
}

/* line 94, ../../resources/assets/sass/app.scss */
.navbar-fixed-top {
  top: 15px;
}

/* line 98, ../../resources/assets/sass/app.scss */
.active {
  top: 0;
  background-color: #ffffff !important;
}
/* line 105, ../../resources/assets/sass/app.scss */
.active .container #navbar ul li a {
  padding: 15px 15px;
  color: black !important;
}
@media screen and (min-width: 768px) {
  /* line 105, ../../resources/assets/sass/app.scss */
  .active .container #navbar ul li a {
    padding: 28px 15px;
  }
}
/* line 118, ../../resources/assets/sass/app.scss */
.active .navbar-header button {
  height: 75px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 122, ../../resources/assets/sass/app.scss */
.active .navbar-header button span {
  background-color: black !important;
}

/* line 129, ../../resources/assets/sass/app.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
}

/* line 133, ../../resources/assets/sass/app.scss */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  -moz-box-shadow: 0px 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: white;
}
@media screen and (min-width: 768px) {
  /* line 133, ../../resources/assets/sass/app.scss */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: none;
  }
}

/* line 143, ../../resources/assets/sass/app.scss */
.navbar-default {
  background: none;
  border: none;
  height: 75px;
}
/* line 148, ../../resources/assets/sass/app.scss */
.navbar-default .logo {
  display: block;
  background-image: url("../images/a_logo.jpg");
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
}
/* line 162, ../../resources/assets/sass/app.scss */
.navbar-default .container .navbar-header button {
  border: none;
}
/* line 165, ../../resources/assets/sass/app.scss */
.navbar-default .container .navbar-header button span {
  background-color: white;
}
@media screen and (min-width: 768px) {
  /* line 165, ../../resources/assets/sass/app.scss */
  .navbar-default .container .navbar-header button span {
    background: none;
  }
}
@media screen and (min-width: 768px) {
  /* line 176, ../../resources/assets/sass/app.scss */
  .navbar-default .container #navbar .navbar-right {
    margin-right: 0;
  }
}
/* line 182, ../../resources/assets/sass/app.scss */
.navbar-default .container #navbar ul li {
  padding-right: 25px;
  border-bottom: 1px solid #cecfd0;
  text-align: right;
}
@media screen and (min-width: 768px) {
  /* line 182, ../../resources/assets/sass/app.scss */
  .navbar-default .container #navbar ul li {
    border: none;
  }
}
/* line 190, ../../resources/assets/sass/app.scss */
.navbar-default .container #navbar ul li a {
  font-family: "Sun_antwerpen";
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}
@media screen and (min-width: 768px) {
  /* line 190, ../../resources/assets/sass/app.scss */
  .navbar-default .container #navbar ul li a {
    color: white;
  }
}
/* line 199, ../../resources/assets/sass/app.scss */
.navbar-default .container #navbar ul li a.active {
  background-color: transparent !important;
  border-bottom: none;
  text-decoration: underline;
}

/* line 212, ../../resources/assets/sass/app.scss */
#landingvideo {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  width: auto;
  height: 500px;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
  overflow-x: hidden;
}
/* line 224, ../../resources/assets/sass/app.scss */
#landingvideo video {
  height: 100%;
  zoom: 1;
  min-height: 100%;
}
@media screen and (min-width: 1200px) {
  /* line 224, ../../resources/assets/sass/app.scss */
  #landingvideo video {
    height: auto;
    width: 100%;
  }
}

/* line 236, ../../resources/assets/sass/app.scss */
header {
  position: relative;
  width: 100%;
  height: 500px;
  min-height: auto;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url("../images/bg.jpg");
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  /* line 236, ../../resources/assets/sass/app.scss */
  header {
    min-height: 100%;
  }
}
/* line 253, ../../resources/assets/sass/app.scss */
header .box {
  position: absolute;
  right: 15%;
  top: 0;
  background-color: #cb0333;
  mix-blend-mode: overlay;
  width: 26.5%;
  height: 100%;
  z-index: 0;
}
/* line 264, ../../resources/assets/sass/app.scss */
header .header-content {
  position: relative;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  top: 70%;
}
@media screen and (min-width: 768px) {
  /* line 264, ../../resources/assets/sass/app.scss */
  header .header-content {
    top: 70%;
  }
}
@media screen and (min-width: 768px) {
  /* line 275, ../../resources/assets/sass/app.scss */
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin: 0 auto;
  }
}
/* line 281, ../../resources/assets/sass/app.scss */
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  text-shadow: 2px 2px rgba(203, 3, 51, 0.75);
}
@media screen and (min-width: 768px) {
  /* line 281, ../../resources/assets/sass/app.scss */
  header .header-content .header-content-inner h1 {
    font-size: 50px;
    letter-spacing: 5px;
  }
}
/* line 292, ../../resources/assets/sass/app.scss */
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
/* line 296, ../../resources/assets/sass/app.scss */
header .header-content .header-content-inner p {
  font-weight: 300;
  color: white;
  font-size: 16px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  /* line 296, ../../resources/assets/sass/app.scss */
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 311, ../../resources/assets/sass/app.scss */
header #search {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 66.66667%;
  width: 500px;
}
/* line 318, ../../resources/assets/sass/app.scss */
header #search .input-group {
  margin-left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 323, ../../resources/assets/sass/app.scss */
header #search .input-group-btn,
header #search input {
  height: 50px;
  border: none;
}
/* line 61, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
header #search input:-moz-placeholder {
  color: #cb0333;
  padding-left: 25px;
  font-style: italic;
  font-size: 16px;
}
/* line 64, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
header #search input::-moz-placeholder {
  color: #cb0333;
  padding-left: 25px;
  font-style: italic;
  font-size: 16px;
}
/* line 67, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
header #search input:-ms-input-placeholder {
  color: #cb0333;
  padding-left: 25px;
  font-style: italic;
  font-size: 16px;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
header #search input::-webkit-input-placeholder {
  color: #cb0333;
  padding-left: 25px;
  font-style: italic;
  font-size: 16px;
}
/* line 339, ../../resources/assets/sass/app.scss */
header #search .input-group-btn .btn {
  background-color: white;
  border: none;
  height: 100%;
}
/* line 344, ../../resources/assets/sass/app.scss */
header #search .input-group-btn .btn .glyphicon {
  color: black;
}

/* line 352, ../../resources/assets/sass/app.scss */
.col-xs-12 {
  padding: 0 25px;
}
@media screen and (min-width: 768px) {
  /* line 352, ../../resources/assets/sass/app.scss */
  .col-xs-12 {
    padding: 0;
  }
}

/* line 372, ../../resources/assets/sass/app.scss */
#articles .container .row .col-xs-12:nth-child(2) .person {
  float: right;
}
/* line 375, ../../resources/assets/sass/app.scss */
#articles .container .row .col-xs-12:nth-child(2) .person .bv-info {
  left: -11%;
}
@media screen and (min-width: 768px) {
  /* line 375, ../../resources/assets/sass/app.scss */
  #articles .container .row .col-xs-12:nth-child(2) .person .bv-info {
    left: -25%;
  }
}
/* line 382, ../../resources/assets/sass/app.scss */
#articles .container .row .col-xs-12:nth-child(2) .person .bv-info .date {
  text-align: left;
}
/* line 386, ../../resources/assets/sass/app.scss */
#articles .container .row .col-xs-12:nth-child(2) .person .bv-info h2 {
  background-color: #8d9092;
}
/* line 392, ../../resources/assets/sass/app.scss */
#articles .container .row .col-xs-12:nth-child(2) p {
  float: right;
}
/* line 396, ../../resources/assets/sass/app.scss */
#articles .container .row .col-xs-12:nth-child(2) a {
  width: 80%;
  float: right;
}
@media screen and (min-width: 768px) {
  /* line 396, ../../resources/assets/sass/app.scss */
  #articles .container .row .col-xs-12:nth-child(2) a {
    width: 50%;
  }
}
/* line 406, ../../resources/assets/sass/app.scss */
#articles .container .row p {
  width: 80%;
  font-size: 20px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  /* line 406, ../../resources/assets/sass/app.scss */
  #articles .container .row p {
    width: 50%;
  }
}
/* line 416, ../../resources/assets/sass/app.scss */
#articles .container .row a {
  display: inline-block;
  margin-bottom: 75px;
  text-decoration: none;
}
/* line 421, ../../resources/assets/sass/app.scss */
#articles .container .row .person {
  position: relative;
  background-size: cover;
  width: 90%;
  height: 200px;
  margin-bottom: 75px;
}
@media screen and (min-width: 768px) {
  /* line 421, ../../resources/assets/sass/app.scss */
  #articles .container .row .person {
    height: 450px;
    width: 80%;
  }
}
/* line 433, ../../resources/assets/sass/app.scss */
#articles .container .row .person .bv-info {
  position: absolute;
  right: -11%;
  bottom: -15%;
  width: 65%;
  height: 40%;
}
@media screen and (min-width: 768px) {
  /* line 433, ../../resources/assets/sass/app.scss */
  #articles .container .row .person .bv-info {
    width: 35%;
    right: -25%;
    width: 35%;
  }
}
/* line 446, ../../resources/assets/sass/app.scss */
#articles .container .row .person .bv-info .date {
  font-family: "Sun_antwerpen";
  color: #8d9092;
  display: block;
  text-align: right;
}
/* line 453, ../../resources/assets/sass/app.scss */
#articles .container .row .person .bv-info h2 {
  font-size: 18px;
  background-color: #007fa3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 453, ../../resources/assets/sass/app.scss */
  #articles .container .row .person .bv-info h2 {
    font-size: 18px;
  }
}
/* line 470, ../../resources/assets/sass/app.scss */
#articles .container .row p {
  color: black;
}

/* line 477, ../../resources/assets/sass/app.scss */
.bg-primary {
  background-color: white;
  margin: 100px 0;
}
@media screen and (min-width: 768px) {
  /* line 481, ../../resources/assets/sass/app.scss */
  .bg-primary .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* line 487, ../../resources/assets/sass/app.scss */
.bg-primary .container .row h2, .bg-primary .container .row p {
  color: black;
}
/* line 491, ../../resources/assets/sass/app.scss */
.bg-primary .container .row h2 {
  color: #007fa3;
  font-size: 32px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  /* line 491, ../../resources/assets/sass/app.scss */
  .bg-primary .container .row h2 {
    margin-right: 25px;
    font-size: 40px;
  }
}
/* line 502, ../../resources/assets/sass/app.scss */
.bg-primary .container .row .text-faded span {
  color: #cb0333;
}

/* line 510, ../../resources/assets/sass/app.scss */
#mas {
  position: relative;
  background-image: url("../images/bollekesfeest.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 30%;
  display: block;
  width: 1000px;
  margin: 0 auto 50px auto;
}
@media screen and (min-width: 768px) {
  /* line 510, ../../resources/assets/sass/app.scss */
  #mas {
    height: 50%;
  }
}
/* line 524, ../../resources/assets/sass/app.scss */
#mas .mas-box {
  position: absolute;
  left: 9%;
  top: 0;
  background-color: #007fa3;
  mix-blend-mode: overlay;
  width: 20%;
  height: 100%;
  z-index: 0;
}
/* line 535, ../../resources/assets/sass/app.scss */
#mas .info {
  position: absolute;
  bottom: 10%;
  left: 20%;
}
/* line 539, ../../resources/assets/sass/app.scss */
#mas .info h1 {
  font-size: 20px;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  /* line 539, ../../resources/assets/sass/app.scss */
  #mas .info h1 {
    font-size: 40px;
    letter-spacing: 3px;
  }
}
/* line 548, ../../resources/assets/sass/app.scss */
#mas .info span {
  display: block;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  /* line 558, ../../resources/assets/sass/app.scss */
  .col-sm-4 {
    width: auto;
    padding: 0;
  }
}
/* line 564, ../../resources/assets/sass/app.scss */
#article, #schoolOpleiding_detail, #event_detail {
  margin: 150px 0 50px 0;
}
/* line 566, ../../resources/assets/sass/app.scss */
#article .container, #schoolOpleiding_detail .container, #event_detail .container {
  padding-left: 0;
  padding-right: 0;
}
/* line 571, ../../resources/assets/sass/app.scss */
#article .container nav ul li, #schoolOpleiding_detail .container nav ul li, #event_detail .container nav ul li {
  font-size: 400;
  list-style: none;
  display: inline-block;
}
/* line 575, ../../resources/assets/sass/app.scss */
#article .container nav ul li a, #schoolOpleiding_detail .container nav ul li a, #event_detail .container nav ul li a {
  color: black;
}
/* line 577, ../../resources/assets/sass/app.scss */
#article .container nav ul li a:hover, #schoolOpleiding_detail .container nav ul li a:hover, #event_detail .container nav ul li a:hover {
  text-decoration: none;
  color: #007fa3;
}
/* line 585, ../../resources/assets/sass/app.scss */
#article .container .row, #schoolOpleiding_detail .container .row, #event_detail .container .row {
  margin-right: 0;
  margin-left: 0;
}
/* line 588, ../../resources/assets/sass/app.scss */
#article .container .row .person, #schoolOpleiding_detail .container .row .person, #event_detail .container .row .person {
  position: relative;
  background-size: cover;
  background-position-y: 50%;
  width: 90%;
  height: 200px;
}
@media screen and (min-width: 768px) {
  /* line 588, ../../resources/assets/sass/app.scss */
  #article .container .row .person, #schoolOpleiding_detail .container .row .person, #event_detail .container .row .person {
    height: 450px;
    width: 80%;
  }
}
/* line 600, ../../resources/assets/sass/app.scss */
#article .container .row .person .bv-info, #schoolOpleiding_detail .container .row .person .bv-info, #event_detail .container .row .person .bv-info {
  position: absolute;
  right: -11%;
  bottom: -15%;
  width: 65%;
  height: 40%;
}
@media screen and (min-width: 768px) {
  /* line 600, ../../resources/assets/sass/app.scss */
  #article .container .row .person .bv-info, #schoolOpleiding_detail .container .row .person .bv-info, #event_detail .container .row .person .bv-info {
    width: 35%;
    right: -25%;
    width: 35%;
  }
}
/* line 613, ../../resources/assets/sass/app.scss */
#article .container .row .person .bv-info .date, #schoolOpleiding_detail .container .row .person .bv-info .date, #event_detail .container .row .person .bv-info .date {
  font-family: "Sun_antwerpen";
  color: #8d9092;
  display: block;
  text-align: right;
}
/* line 620, ../../resources/assets/sass/app.scss */
#article .container .row .person .bv-info h2, #schoolOpleiding_detail .container .row .person .bv-info h2, #event_detail .container .row .person .bv-info h2 {
  font-size: 18px;
  background-color: #007fa3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 620, ../../resources/assets/sass/app.scss */
  #article .container .row .person .bv-info h2, #schoolOpleiding_detail .container .row .person .bv-info h2, #event_detail .container .row .person .bv-info h2 {
    font-size: 20px;
  }
}
/* line 637, ../../resources/assets/sass/app.scss */
#article .container .row .text, #schoolOpleiding_detail .container .row .text, #event_detail .container .row .text {
  margin-top: 100px;
}
/* line 640, ../../resources/assets/sass/app.scss */
#article .container .row .text h3, #schoolOpleiding_detail .container .row .text h3, #event_detail .container .row .text h3 {
  font-family: "Antwerpen";
  font-size: 44px;
  margin: 0;
}
/* line 646, ../../resources/assets/sass/app.scss */
#article .container .row .text .col-xs-10, #schoolOpleiding_detail .container .row .text .col-xs-10, #event_detail .container .row .text .col-xs-10 {
  padding-left: 0;
}
/* line 651, ../../resources/assets/sass/app.scss */
#article .container .row p, #schoolOpleiding_detail .container .row p, #event_detail .container .row p {
  color: black;
  font-size: 18px;
  line-height: 25.2px;
  width: 80%;
}
/* line 657, ../../resources/assets/sass/app.scss */
#article .container .row p:first-child, #schoolOpleiding_detail .container .row p:first-child, #event_detail .container .row p:first-child {
  font-size: 16px;
  line-height: 22.4px;
  color: #8d9092;
}
/* line 663, ../../resources/assets/sass/app.scss */
#article .container .row p strong, #article .container .row p a, #schoolOpleiding_detail .container .row p strong, #schoolOpleiding_detail .container .row p a, #event_detail .container .row p strong, #event_detail .container .row p a {
  color: #007fa3;
}
/* line 668, ../../resources/assets/sass/app.scss */
#article .container .row ul, #schoolOpleiding_detail .container .row ul, #event_detail .container .row ul {
  font-family: "Sun_antwerpen";
  font-size: 16px;
  margin-left: 50px;
}
/* line 672, ../../resources/assets/sass/app.scss */
#article .container .row ul li, #schoolOpleiding_detail .container .row ul li, #event_detail .container .row ul li {
  margin-bottom: 5px;
}

/* line 680, ../../resources/assets/sass/app.scss */
#skyline {
  background-image: url("../images/skyline.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 134px;
  width: 100%;
  margin-top: 50px;
}

/* line 689, ../../resources/assets/sass/app.scss */
footer {
  width: 100%;
  background-color: #007fa3;
}
/* line 693, ../../resources/assets/sass/app.scss */
footer p {
  font-size: 16px;
  text-align: center;
  margin: 0;
  color: white;
  padding: 20px;
}
/* line 699, ../../resources/assets/sass/app.scss */
footer p a {
  text-decoration: underline;
  color: white;
}
/* line 703, ../../resources/assets/sass/app.scss */
footer p a:hover {
  color: white;
}

/* line 711, ../../resources/assets/sass/app.scss */
.city {
  background-image: url("../images/city.jpg");
  background-position: center 85%;
  height: 50%;
}
@media screen and (min-width: 768px) {
  /* line 711, ../../resources/assets/sass/app.scss */
  .city {
    min-height: 50%;
  }
}

/* line 721, ../../resources/assets/sass/app.scss */
#game {
  margin-bottom: 100px;
}
/* line 723, ../../resources/assets/sass/app.scss */
#game .container {
  position: relative;
  padding: 0;
}
/* line 726, ../../resources/assets/sass/app.scss */
#game .container .scoreBoard {
  position: absolute;
  width: 275px;
  right: 15%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 733, ../../resources/assets/sass/app.scss */
#game .container .scoreBoard .head {
  background-color: #009882;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: "Antwerpen";
  font-size: 14px;
  letter-spacing: 2px;
}
/* line 743, ../../resources/assets/sass/app.scss */
#game .container .scoreBoard .item {
  position: relative;
  background-color: white;
  height: 50px;
  border-bottom: 1px solid #8d9092;
}
/* line 748, ../../resources/assets/sass/app.scss */
#game .container .scoreBoard .item:last-child {
  border-bottom: none;
}
/* line 751, ../../resources/assets/sass/app.scss */
#game .container .scoreBoard .item h1 {
  position: absolute;
  top: 50%;
  left: 15px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #009882;
  font-size: 16px;
}
/* line 760, ../../resources/assets/sass/app.scss */
#game .container .scoreBoard .item .personal {
  position: absolute;
  top: 50%;
  left: 40px;
  display: grid;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Antwerpen";
}
/* line 768, ../../resources/assets/sass/app.scss */
#game .container .scoreBoard .item .personal .best {
  color: #8d9092;
  font-size: 10px;
}
/* line 774, ../../resources/assets/sass/app.scss */
#game .container .scoreBoard .item .highscore {
  position: absolute;
  top: 50%;
  right: 20px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Antwerpen";
  color: #8d9092;
  font-size: 12px;
}
/* line 785, ../../resources/assets/sass/app.scss */
#game .container .image {
  background-image: url("../images/iphone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  height: 400px;
}

/* line 795, ../../resources/assets/sass/app.scss */
#events {
  margin-bottom: 50px;
}
/* line 798, ../../resources/assets/sass/app.scss */
#events .col-xs-12:nth-child(even) .event {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  /* line 798, ../../resources/assets/sass/app.scss */
  #events .col-xs-12:nth-child(even) .event {
    margin-left: 15%;
  }
}
/* line 806, ../../resources/assets/sass/app.scss */
#events .text {
  margin-top: 25px;
}
/* line 808, ../../resources/assets/sass/app.scss */
#events .text p {
  color: black;
}
/* line 812, ../../resources/assets/sass/app.scss */
#events .col-md-6 {
  margin-bottom: 50px;
}
/* line 815, ../../resources/assets/sass/app.scss */
#events .event {
  position: relative;
  background-size: cover;
  width: 75%;
  height: 250px;
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  /* line 815, ../../resources/assets/sass/app.scss */
  #events .event {
    width: 300px;
    height: 300px;
  }
}
/* line 827, ../../resources/assets/sass/app.scss */
#events .event .bv-info {
  position: absolute;
  right: -30%;
  bottom: -13%;
  width: 60%;
  height: 40%;
}
@media screen and (min-width: 768px) {
  /* line 827, ../../resources/assets/sass/app.scss */
  #events .event .bv-info {
    right: -40%;
    width: 80%;
  }
}
/* line 839, ../../resources/assets/sass/app.scss */
#events .event .bv-info .date {
  font-family: "Sun_antwerpen";
  color: #8d9092;
  display: block;
  text-align: right;
}
/* line 846, ../../resources/assets/sass/app.scss */
#events .event .bv-info h2 {
  font-size: 17px;
  letter-spacing: 1px;
  background-color: #007fa3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  /* line 846, ../../resources/assets/sass/app.scss */
  #events .event .bv-info h2 {
    font-size: 22px;
  }
}

/* line 865, ../../resources/assets/sass/app.scss */
.school {
  background-image: url("../images/school.jpg");
  height: 50%;
}
@media screen and (min-width: 768px) {
  /* line 865, ../../resources/assets/sass/app.scss */
  .school {
    min-height: 50%;
  }
}

/* line 875, ../../resources/assets/sass/app.scss */
#random {
  position: absolute;
  margin-top: 25px;
  right: 25px;
  background-image: url("../images/random.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 200px 0;
  width: 250px;
  height: 40px;
}
/* line 885, ../../resources/assets/sass/app.scss */
#random p {
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}
/* line 892, ../../resources/assets/sass/app.scss */
#random a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 899, ../../resources/assets/sass/app.scss */
#url {
  position: relative;
  background-image: url("../images/url.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 40px;
  cursor: pointer;
}
/* line 910, ../../resources/assets/sass/app.scss */
#url p {
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  margin-left: 65px;
}
/* line 918, ../../resources/assets/sass/app.scss */
#url a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 925, ../../resources/assets/sass/app.scss */
#school {
  margin-top: 100px;
}

/* line 929, ../../resources/assets/sass/app.scss */
#school, #school_detail {
  margin-bottom: 50px;
}
/* line 931, ../../resources/assets/sass/app.scss */
#school .container, #school_detail .container {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  /* line 934, ../../resources/assets/sass/app.scss */
  #school .container .row, #school_detail .container .row {
    display: flex;
    flex-wrap: wrap;
  }
}
/* line 939, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3, #school_detail .container .row .col-md-3 {
  height: 100%;
  margin-bottom: 25px;
}
/* line 942, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .shadow, #school_detail .container .row .col-md-3 .shadow {
  cursor: pointer;
  -moz-box-shadow: 1px 1px 1px 0px #8d9092;
  -webkit-box-shadow: 1px 1px 1px 0px #8d9092;
  box-shadow: 1px 1px 1px 0px #8d9092;
  display: block;
}
@media screen and (min-width: 768px) {
  /* line 939, ../../resources/assets/sass/app.scss */
  #school .container .row .col-md-3, #school_detail .container .row .col-md-3 {
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 952, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .faculty_photo, #school_detail .container .row .col-md-3 .faculty_photo {
  height: 250px;
  position: rellative;
  z-index: 0;
}
/* line 956, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .faculty_photo .heart, #school .container .row .col-md-3 .faculty_photo .fullHeart, #school_detail .container .row .col-md-3 .faculty_photo .heart, #school_detail .container .row .col-md-3 .faculty_photo .fullHeart {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  top: 15px;
  width: 25px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
}
/* line 968, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .faculty_photo .heart, #school_detail .container .row .col-md-3 .faculty_photo .heart {
  background-image: url("../images/borderHeart.svg");
}
/* line 972, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .faculty_photo .fullHeart, #school_detail .container .row .col-md-3 .faculty_photo .fullHeart {
  background-image: url("../images/heart.svg");
}
/* line 976, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .faculty_photo .f_photo, #school_detail .container .row .col-md-3 .faculty_photo .f_photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100%;
}
/* line 985, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .text, #school_detail .container .row .col-md-3 .text {
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 991, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .text p, #school_detail .container .row .col-md-3 .text p {
  width: 75%;
}
/* line 993, ../../resources/assets/sass/app.scss */
#school .container .row .col-md-3 .text p a, #school_detail .container .row .col-md-3 .text p a {
  text-decoration: none;
}

/* line 1003, ../../resources/assets/sass/app.scss */
.testimonial {
  background-image: url("../images/testimonials.jpg");
  height: 50%;
}
@media screen and (min-width: 768px) {
  /* line 1003, ../../resources/assets/sass/app.scss */
  .testimonial {
    min-height: 50%;
  }
}

/* line 1013, ../../resources/assets/sass/app.scss */
#testimonials .container, #events_gate15 .container {
  padding: 0 0;
}
/* line 1016, ../../resources/assets/sass/app.scss */
#testimonials .container .row [class*='col-'], #events_gate15 .container .row [class*='col-'] {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 75px;
}
/* line 1021, ../../resources/assets/sass/app.scss */
#testimonials .container .row [class*='col-']:nth-child(even) h2, #events_gate15 .container .row [class*='col-']:nth-child(even) h2 {
  background-color: #8d9092 !important;
}
/* line 1026, ../../resources/assets/sass/app.scss */
#testimonials .container .row [class*='col-'] .photo, #events_gate15 .container .row [class*='col-'] .photo {
  position: relative;
  background-size: cover;
  width: 75%;
  height: 225px;
  display: block;
}
/* line 1033, ../../resources/assets/sass/app.scss */
#testimonials .container .row [class*='col-'] .photo .bv-info, #events_gate15 .container .row [class*='col-'] .photo .bv-info {
  position: absolute;
  right: -30%;
  bottom: -19%;
  width: 60%;
  height: 40%;
}
@media screen and (min-width: 768px) {
  /* line 1033, ../../resources/assets/sass/app.scss */
  #testimonials .container .row [class*='col-'] .photo .bv-info, #events_gate15 .container .row [class*='col-'] .photo .bv-info {
    right: -35%;
    width: 70%;
  }
}
/* line 1045, ../../resources/assets/sass/app.scss */
#testimonials .container .row [class*='col-'] .photo .bv-info h2, #events_gate15 .container .row [class*='col-'] .photo .bv-info h2 {
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #007fa3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 1045, ../../resources/assets/sass/app.scss */
  #testimonials .container .row [class*='col-'] .photo .bv-info h2, #events_gate15 .container .row [class*='col-'] .photo .bv-info h2 {
    font-size: 12px;
  }
}
/* line 1061, ../../resources/assets/sass/app.scss */
#testimonials .container .row [class*='col-'] .photo span, #events_gate15 .container .row [class*='col-'] .photo span {
  height: 20px;
  bottom: -20px;
  position: absolute;
}
/* line 1068, ../../resources/assets/sass/app.scss */
#testimonials .container .row [class*='col-'] p, #events_gate15 .container .row [class*='col-'] p {
  color: black;
  font-size: 16px;
  line-height: 19.2px;
  margin-top: 50px;
  width: 75%;
}

/* line 1083, ../../resources/assets/sass/app.scss */
table td input {
  display: inline-block;
  background-color: #007fa3;
  color: white;
  border: none;
  padding: 5px;
  margin-left: 10px;
}
/* line 1092, ../../resources/assets/sass/app.scss */
table td, table th {
  padding: 15px !important;
}

/* line 1097, ../../resources/assets/sass/app.scss */
#school_detail {
  margin: 100px 0;
}

/* line 1104, ../../resources/assets/sass/app.scss */
#school_detail nav ul li {
  font-size: 400;
  list-style: none;
  display: inline-block;
}
/* line 1108, ../../resources/assets/sass/app.scss */
#school_detail nav ul li a {
  color: black;
}
/* line 1110, ../../resources/assets/sass/app.scss */
#school_detail nav ul li a:hover {
  text-decoration: none;
  color: #007fa3;
}

/* line 1121, ../../resources/assets/sass/app.scss */
.event_bg {
  background-image: url("../images/events.jpg");
  background-position: center 50%;
  height: 50%;
}
@media screen and (min-width: 768px) {
  /* line 1121, ../../resources/assets/sass/app.scss */
  .event_bg {
    min-height: 50%;
  }
}

/* line 1131, ../../resources/assets/sass/app.scss */
.event_detail_bg {
  background-position: center 50%;
  height: 50%;
}
@media screen and (min-width: 768px) {
  /* line 1131, ../../resources/assets/sass/app.scss */
  .event_detail_bg {
    min-height: 50%;
  }
}

/* line 1140, ../../resources/assets/sass/app.scss */
.filter {
  width: 75%;
  margin: 100px auto 0 auto;
}
/* line 1143, ../../resources/assets/sass/app.scss */
.filter .container {
  padding: 0;
}
/* line 1145, ../../resources/assets/sass/app.scss */
.filter .container h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}
/* line 1150, ../../resources/assets/sass/app.scss */
.filter .container ul {
  list-style: none;
  margin: 0;
}
/* line 1153, ../../resources/assets/sass/app.scss */
.filter .container ul li {
  background-color: #8d9092;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  margin: 0 5px 10px 0;
}
/* line 1160, ../../resources/assets/sass/app.scss */
.filter .container ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
/* line 1167, ../../resources/assets/sass/app.scss */
.filter .container ul li:hover {
  background-color: #007fa3;
}

/* line 1176, ../../resources/assets/sass/app.scss */
#breadcrumb {
  list-style: none;
  display: inline-block;
}
/* line 1180, ../../resources/assets/sass/app.scss */
#breadcrumb .icon {
  font-size: 14px;
}
/* line 1184, ../../resources/assets/sass/app.scss */
#breadcrumb li {
  float: left;
}
/* line 1186, ../../resources/assets/sass/app.scss */
#breadcrumb li a {
  color: #FFF !important;
  display: block;
  background: #007fa3;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  font-family: "Sun_antwerpen";
}
/* line 1200, ../../resources/assets/sass/app.scss */
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
/* line 1203, ../../resources/assets/sass/app.scss */
#breadcrumb li:first-child a:before {
  border: none;
}
/* line 1209, ../../resources/assets/sass/app.scss */
#breadcrumb li:last-child a {
  padding-right: 15px;
  color: #007fa3 !important;
  background-color: white;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
/* line 1214, ../../resources/assets/sass/app.scss */
#breadcrumb li:last-child a:before {
  border-color: white;
  border-left-color: transparent;
}
/* line 1218, ../../resources/assets/sass/app.scss */
#breadcrumb li:last-child a:after {
  border-left-color: white;
  border-color: white;
}
/* line 1222, ../../resources/assets/sass/app.scss */
#breadcrumb li:last-child a:hover {
  background-color: white;
}
/* line 1225, ../../resources/assets/sass/app.scss */
#breadcrumb li:last-child a:hover:before {
  border-color: white;
  border-left-color: transparent;
}
/* line 1229, ../../resources/assets/sass/app.scss */
#breadcrumb li:last-child a:hover:after {
  border-left-color: white;
}
/* line 1237, ../../resources/assets/sass/app.scss */
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #007fa3;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
/* line 1247, ../../resources/assets/sass/app.scss */
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
/* line 1251, ../../resources/assets/sass/app.scss */
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #007fa3;
}
/* line 1256, ../../resources/assets/sass/app.scss */
#breadcrumb li a:hover {
  background-color: #8d9092;
}
/* line 1259, ../../resources/assets/sass/app.scss */
#breadcrumb li a:hover:before {
  border-color: #8d9092;
  border-left-color: transparent;
}
/* line 1263, ../../resources/assets/sass/app.scss */
#breadcrumb li a:hover:after {
  border-left-color: #8d9092;
}
/* line 1267, ../../resources/assets/sass/app.scss */
#breadcrumb li a:active {
  background-color: #007fa3;
}
/* line 1270, ../../resources/assets/sass/app.scss */
#breadcrumb li a:active:before {
  border-color: #007fa3;
  border-left-color: transparent;
}
/* line 1274, ../../resources/assets/sass/app.scss */
#breadcrumb li a:active:after {
  border-left-color: #007fa3;
}

/* line 1282, ../../resources/assets/sass/app.scss */
.AP, .KdG, .HZS, .UA {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 100%;
}

/* line 1290, ../../resources/assets/sass/app.scss */
.AP {
  background-image: url("../images/school/ap.jpg");
}

/* line 1294, ../../resources/assets/sass/app.scss */
.KdG {
  background-image: url("../images/school/kdg.png");
}

/* line 1298, ../../resources/assets/sass/app.scss */
.HZS {
  background-image: url("../images/school/hzs.jpg");
}

/* line 1302, ../../resources/assets/sass/app.scss */
.UA {
  background-image: url("../images/school/ua.png");
}

/* line 1310, ../../resources/assets/sass/app.scss */
#sortSchools .container .row .shadow .school_photo {
  display: block;
  height: 250px;
  width: 50%;
  margin: 0 auto;
}
/* line 1317, ../../resources/assets/sass/app.scss */
#sortSchools .container .row .shadow .text {
  text-align: center;
}
